@import "tailwindcss"  ;
@theme{

    /* màu nền cam */
    --color-primary: #fa6639;
    /* màu chữ đen */
    --color-text:#333333;
    /* màu phụ vàng */
    --color-second:#ffbc40;
    /* màu phụ kem */
    ---color-third:#f2eee9;

}